<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>createUser</title>
  </head>
  <body>
    <form class="" action="localhost:3030/user/test" method="post">
      <label for="name">Nombre</label>
      <input type="text" name="name" value="" id="name">
      <br>
      <label for="userName">UserName</label>
      <input type="email" name="userName" value="" id="userName">
      <br>
      <label for="password">password</label>
      <input type="password" name="password" value="" id="password">
      <br>
      <label for="confirmPassword">confirmPassword</label>
      <input type="password" name="confirmPassword" value="" id="confirmPassword">
      <br>
      <button type="submit" name="button">Enviar</button>
    </form>
  </body>
</html>
