<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Videos index</title>
</head>
<body>
    <h4>Crear usuario</h4>
    <form action="/createUser" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="name" id="name" placeholder="Ingrese nombre">
        <br>
        <input type="email" name="userName" id="userName" placeholder="Ingrese su mail">
        <br>
        <input type="password" name="password" id="password" placeholder="password">
        <br>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm password">
        <br>
        <input type="submit" value="registrar">
    </form>
    <h4>LogIn</h4>
    <form action="/logIn" method="post" enctype="application/x-www-form-urlencoded">
        <input type="email" name="userName" id="userName" placeholder="Ingrese su mail">
        <br>
        <input type="password" name="password" id="password" placeholder="password">
        <br>
        <input type="submit" value="Logear">
</body>
</html>
